{% extends 'base.html.twig' %}

{% block body %}

	<div>
		<img class="" src={{asset("/images/logo_lewys.png" )}} alt="">
		<h1>
			{{ title }}
		</h1>
	</div>

	{% for link in links %}
		<p>
			<button type="button" class="btn btn-outline-dark mb-2">
				<a href={{ link.url }}>
					<i class="{{link.icon}}"></i>
					{{ link.title }}</a>
			</button>
		</p>
	{% endfor %}

{% endblock %}
